body{
    background-color: gray;
    }


body{
background-color:rgba(36, 6, 233, 0.349);
}


 h1{
color: navy;
font-family: ;
background: ;
}

p {
text-align: center;
color:blue;
font-family: ;
font-size: ;
background: ;
}